
//$avatarUrl: $baseUrl+'/myInfo/avatar.gif';
//$ratio: 155/188;
//
//*{margin: 0;padding: 0;}
//.myInfo{display: flex;flex-direction: column;align-items: center;width: 100%;height: 100%;color: white;
//  >.myInfoBox{ width: 188px;transition: width 0.25s;
//    >.myInfoContainer{width: 100%; padding-top: 30px;
//      >.avatar{background: url($avatarUrl);width: 136px;height: 136px;box-shadow: 0px 0px 5px #afafaf;border-radius: 5px;margin-bottom: 10px;}
//      >.name{display: block; font-size: 30px;font-weight: bold;color: aliceblue;
//        &:hover{color: #fffa00;}
//      }
//      >.subtitle{margin-bottom: 20px;}
//    }
//    >.navbox{width: 100%; display: block;margin-bottom: 20px;
//      ul{height: 100%;overflow: hidden;}
//      li{list-style: none;line-height: 2;
//        >i{font-size: 20px; margin-right: 5px;}
//        >a{font-size: 20px;color: #f5f5f5;text-decoration: none;}
//        &:hover{ >i,>a{color:  #ff9f54;} }
//      }
//    }
//    .chartlet{display: block; cursor: pointer;width: 100%;height: 50px;margin-bottom: 30px;
//      >.chartletContainer{position: relative; transition: all 0.5s;transform-style: preserve-3d; height: 100%;
//        >.chartletImg,.chartletInfo{position: absolute;top:0; width: 100%;height: 100%;border-radius: 5px;}
//        >.chartletImg{transform:  translate3d(0,0,25px);background-color: aquamarine;}
//        >.chartletInfo{transform: rotateX(-90deg) translate3d(0,0,25px);background-color: #ffffff;padding-left: 25px;
//          >p{margin-top: 5px;margin-bottom: -2px; font-size: 18px;color: #5f5f5f;line-height: 1.4;}
//          >small{color: #419eff;}
//        }
//      }
//      &:hover > .chartletContainer{transform: rotateX(90deg);}
//    }
//  }
//}

