//$leftBgImgUrl: $baseUrl+'/index/bgImg1.jpg';
//
//.flexBox{display: flex;height: 100%;width: 100%;
//  >.left{position: fixed;height: 100%;width: 250px;transition: width 0.25s;
//    background: url($leftBgImgUrl) no-repeat top;background-size: cover;}
//  >.leftBottom{width: 250px;flex: 0 0 auto;}
//  >.right{flex: 1 1 auto;display: block;background-color: #f5f7f9;}
//}
//
//@media (max-width: 1080px) {
//  .flexBox{
//    >.left{width: 210px;}
//    >.leftBottom{width: 210px;}
//  }
//}
//@media (max-width: 768px) {
//  .flexBox{
//    >.left{display: none; }
//    >.leftBottom{display: none;}
//  }
//}
